.jurnal-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.invalid{
    border: 2px solid red !important;
    background-color: rgba(102, 56, 56) !important;
}
.input-title{
    font-size: 32px;
}
.input-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}
.input{
    background-color: #181818;
    color: #fff;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.label-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.input-post{
    min-height: 420px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.title-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.delete-item{
    position: absolute;
    bottom: 15px;
    right: 5px;
}
